<%= form_with(model: [@other_user, @conversation,@message],remote: true, class: "form",data:{ controller: 'reset-form', action: "turbo:submit-end->reset-form#reset"}) do |form| %>
  <div class="container-fluid">
    <%= form.text_field :body,placeholder:"type your message here.."%>
    <%= form.submit "send", class: "btn btn-primary" %>

  </div><br>
<% end %>


