
<%= form_with(model: [@user2, @conversation], class: "form") do |form| %>

  <div class="form-group">
    <%= form.label :title, class: "control-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div><br>

  <div class="form-group text-center">
    <%= form.submit "Create", class: "btn btn-primary" %>
  </div>
<br>
<% end %>