
<div class="container-fluid"><br>
  <h5>Conversations</h5><br>
  <%@conversations.each do |conversation| %>
    <%=render conversation %><br>
     <% end %><br>

  <%=link_to 'New conversation',new_user_conversation_path,class:'btn btn-primary' %>|
  <%= link_to 'Back',root_path,class:'btn btn-primary' %>
</div><br>