
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h5>New Conversation</h5>
      <div>
        <%= render 'form' ,user: @user%>
      </div><br>
      <%=link_to 'back', user_conversations_path,class: "btn btn-primary" %>
    </div>
  </div>
</div>