
<div class="container-fluid"><br>
  <h5>List of Users</h5>
  <%=turbo_stream_from "users" %>
  <div id="users">
    <%@users.each do |user| %>
      <%if current_user.id!=user.id %>
        <%=render user %>
       <br><br>
      <%end %>
    <% end %>
  </div>

</div>